# Delete items from list

remove
pop
del
clear

## remove function

remove is used to remove the item from the list
by default it removes the first occurance of the item from the list

In [3]:
list1 = [2,3,5,'python',6.7,5,'class']
list1.remove(5)

In [4]:
list1

[2, 3, 'python', 6.7, 5, 'class']

In [5]:
list1.remove('class')
list1

[2, 3, 'python', 6.7, 5]

In [6]:
list1.remove(100)

ValueError: list.remove(x): x not in list

In [8]:
if 100 in list1:
    list1t1.remove(100)
else:
    print('100 not in list1')

100 not in list1

In [10]:
list1 = [2,3,5,'python',6.7,5,'class']
list2 = list1.copy()
list2.remove(6.7)

print(list1,list2)

[2, 3, 5, 'python', 6.7, 5, 'class'] [2, 3, 5, 'python', 5, 'class']

In [11]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.remove(5)
list1.remove(5)
list1

[2, 3, 'python', 6.7, 'class']

In [13]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.count(5)

2

In [16]:
list1 = [2,3,5,'python',6.7,5,'class']

for i in range(2):
    list1.remove(5)
    
list1

[2, 3, 'python', 6.7, 'class']

## pop function

pop(index)
if we dont pass the index then by default it pops the last index item from the list.

In [18]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop()   # no index is passed so -1 indedx value is removed

'class'

In [19]:
list1

[2, 3, 5, 'python', 6.7, 5]

In [20]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(2)
list1

[2, 3, 'python', 6.7, 5, 'class']

In [21]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(-2)
list1

[2, 3, 5, 'python', 6.7, 'class']

In [23]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop([-2,2])
list1

TypeError: 'list' object cannot be interpreted as an integer

In [26]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.pop(list1.index('python'))
list1

[2, 3, 5, 6.7, 5, 'class']

In [29]:
list1 = [2,3,5,'python',6.7,5,'class']
list2 = []

for i,j in enumerate(list1):
    if j == 5:
        list2.append(i)
               
list2

[2, 5]

In [34]:
list3=[]
[list3.append(i) for i,j in enumerate(list1) if j == 5]
list3

[2, 5]

## clear function

it clears all the items from the list

In [35]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.clear()
list1

[]

In [52]:
list1 = [2,3,5,'python',6.7,5,'class']

list1.clear(4)
list1

TypeError: clear() takes no arguments (1 given)

In [39]:
if list1: print('list1 exist')
else: print('list1 does not exist')

list1 does not exist

In [37]:
list1

[]

In [40]:
type(list1)

list

In [41]:
id(list1)

1953374681536

## del function

is used to delete the list all together
is also used to delete a specific item from the list
is also used to delete a slice of the list

In [42]:
del list1

In [43]:
list1

NameError: name 'list1' is not defined

In [44]:
list1 = [2,3,5,'python',6.7,5,'class']

del list1         # deleting the list alltogether

list1

NameError: name 'list1' is not defined

In [45]:
list1 = [2,3,5,'python',6.7,5,'class']

del list1[5]           # deleting an item of the list

list1

[2, 3, 5, 'python', 6.7, 'class']

In [47]:
list1 = [2,3,5,'python',6.7,5,'class']
list1[5]

5

In [48]:
list1 = [2,3,5,'python',6.7,5,'class']

del list1[2:5]    # deleting a slice from of the list

list1

[2, 3, 5, 'class']

# Sorting a list

## Ascending order

smaller to bigger

### sort()

sort modifies the actual list
it does not require external variable to store the change. bcz the change is reflected in the same list

In [54]:
x = [7,8,3,5,2]

x.sort()

x

[2, 3, 5, 7, 8]

In [55]:
x = [7,8,3,'Hello',2]

x.sort()

x

TypeError: '<' not supported between instances of 'str' and 'int'

In [60]:
x = ['Aisel','Hello','Bailomos','Boy','bet']

x.sort()

x

['Aisel', 'Bailomos', 'Boy', 'Hello', 'bet']

# for string the sequence would be >> special chars, numbers, Capital letters, Small letters

In [ ]:
x = ['Aisel','%Hello','Bailomos','Boy','bet','6']

x.sort()

x

### sorted()

sorted does not modify the actual list
it does require external variable to store the change. bcz the change is not reflected in the same list

In [64]:
x = [7,8,3,5,2]

sorted(x)

[2, 3, 5, 7, 8]

In [65]:
x = [7,8,3,5,2]

sorted(x)

x

[7, 8, 3, 5, 2]

In [66]:
x = [7,8,3,5,2]

x = sorted(x)

x

[2, 3, 5, 7, 8]

In [68]:
x = [7,8,3,5,2]

y = sorted(x)

x,y

([7, 8, 3, 5, 2], [2, 3, 5, 7, 8])

In [69]:
x = ['Aisel','%Hello','Bailomos','Boy','bet','6']

x = sorted(x)

x

['%Hello', '6', 'Aisel', 'Bailomos', 'Boy', 'bet']

## Descending order

bigger to smaller

### sort()

In [70]:
x = [7,8,3,5,2]

x.sort(reverse=True)

x

[8, 7, 5, 3, 2]

In [76]:
x = [7,8,3,5,2]

x.sort()

x[::-1]

[8, 7, 5, 3, 2]

In [72]:
x = ['Aisel','%Hello','Bailomos','Boy','bet','6']

x.sort(reverse=True)

x

['bet', 'Boy', 'Bailomos', 'Aisel', '6', '%Hello']

### sorted()

In [73]:
x = [7,8,3,5,2]

y = sorted(x,reverse=True)

y

[8, 7, 5, 3, 2]

# Reversing list

## reverse()

no need of additional variable. changed reflected in the same list
it's a function of list

In [77]:
x = [7,8,3,5,2]
x.reverse()
x

[2, 5, 3, 8, 7]

In [79]:
x = [7,8,3,5,2]
x.sort()
x.reverse()
x

[8, 7, 5, 3, 2]

## reversed()

we need an additional variable to store the change.
create a object which has to be unfold using list function
it's python's inbuild function

In [81]:
x = [7,8,3,5,2]
x = reversed(x)
list(x)

[2, 5, 3, 8, 7]

In [82]:
x = [7,8,3,5,2]
x.sort()
list(reversed(x))

[8, 7, 5, 3, 2]

# Count()

It counts the occurances of mentioned item in the list

In [83]:
x = [7,8,3,5,2,5]

x.count(5)

2

In [84]:
x = ['Aisel','%Hello','bet','Bailomos','Boy','bet','6','bet']
x.count('bet')

3

In [85]:
x = [7,8,3,5,2,5]

for i in x:
    if x.count(i)>1:
        x.remove(i)
        
x

[7, 8, 3, 2, 5]

In [86]:
x = [7,8,3,5,2,5]
set(x)

{2, 3, 5, 7, 8}

In [87]:
x = [7,8,3,5,2,5]
y = []

for i in x:
    if i not in y:
        y.append(i)
        
y

[7, 8, 3, 5, 2]

# Aggregate Functions

## sum()

it gives the addition of all the items of the list
works on numbers only

In [88]:
x = [7,8,3,5,2,5]
sum(x)

30

In [89]:
list1 = ['P','h','g']
sum(list1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## max()

gives the maximum item of the list

In [90]:
x = [7,8,3,5,2,5]
max(x)

8

## min()

gives the minimum item of the list

In [91]:
x = [7,8,3,5,2,5]
min(x)

2

## mean()

Mean : Average of all the numbers in the list
Sum of all the items / total no. of items

In [92]:
x = [7,8,3,5,2,5]
sum(x)/len(x)

5.0

In [93]:
from numpy import mean
mean(x)

5.0

In [94]:
from statistics import mean
mean(x)

5

## median()

Median : center value of the sorted list

In [100]:
x = [7,8,3,5,2]

In [101]:
x.sort()
x

[2, 3, 5, 7, 8]

In [104]:
median = x[round(len(x)/2)]
median

5

In [105]:
x = [7,8,3,5,2,6]
x.sort()
x

[2, 3, 5, 6, 7, 8]

In [106]:
(len(x)/2)

3.0

In [ ]:
# Function for even odd numbers

num = int(input())

if num%2==0:
    print('even')
if num%2==1:
    print('odd')

In [107]:
x = [7,8,3,5,2,6]
x.sort()

if len(x)%2==1:
    median = x[round(len(x)/2)]
else:
    median = (x[round(len(x)/2)]+x[(round(len(x)/2))-1])/2
    
median

5.5

In [112]:
from numpy import median
print(x)
median(x)

[2, 3, 5, 6, 7, 8]

5.5

In [113]:
from numpy import median
x = [7,8,3,5,2]
print(x)
median(x)

[7, 8, 3, 5, 2]

5.0

## Mode()

# most occuring item in the list

In [9]:
x = [7,5,8,3,5,2]

print([(x.count(i),i) for i in x])
max([(x.count(i),i) for i in x])

[(1, 7), (2, 5), (1, 8), (1, 3), (2, 5), (1, 2)]

(2, 5)

In [11]:
from statistics import mode

In [12]:
x = [7,5,8,3,5,2]
mode(x)

5

In [14]:
x = [7,5,8,3,5,2,8,7]   # if many numbers occur exactly at same frequency then the very first number will become mode
mode(x)

7

## Power()

In [15]:
x = 5

print('power of x is ',5*5)

power of x is  25

In [16]:
x = 5
print('power of x is ',5**2)

power of x is  25

In [17]:
from math import pow
pow(5,2)

25.0

In [18]:
pow(5,3)

125.0

In [20]:
pow(25,0.5)

5.0

In [21]:
pow(25,1/2)

5.0