Loops:
    for loop
    while loop
    
same functionality but different syntax
Function: is used to interate over a sequence, iterator
They basically execute the set of statements multiple times or perform an operation multiple times.

# For loop

It works on any iterator

Iterators >> String, List, Tuple, Set, Dict, dataframe, series, Range etc..

Syntax:
    
for variable_name in iterator:
    print(variable_name)
    statement1
    statement2
    code1
    code2

In [1]:
string = 'We like Python'

for i in range(10):
    print(string)

We like Python
We like Python
We like Python
We like Python
We like Python
We like Python
We like Python
We like Python
We like Python
We like Python

In [2]:
for i in string:
    print(i)

W
e

l
i
k
e

P
y
t
h
o
n

In [3]:
list1 = [2,3,5,'python',6.7,5,'class']

for i in list1:
    print(i)

2
3
5
python
6.7
5
class

In [4]:
x = [7,8,3,5,2,5]

for i in x:
    print(i**2)

49
64
9
25
4
25

In [7]:
for i in range(-11,-21,-1):
    print(i)

-11
-12
-13
-14
-15
-16
-17
-18
-19
-20

In [8]:
string = 'We like Python'

list1 = string.split()
list1

['We', 'like', 'Python']

In [10]:
string = 'We like Python'

list1 = string.split()
list1

['We', 'like', 'Python']

# Loops on Tuple, Set, Dict

In [12]:
tuple1 = (2,5,3)

for i in tuple1:
    print(i)

2
5
3

In [13]:
set1 = {2,5,3}

for i in set1:
    print(i)

2
3
5

In [15]:
dict1 = {'A':2,'B':5,'C':3}

for i in dict1:
    print(i)

A
B
C

In [16]:
for i in dict1.keys():
    print(i)

A
B
C

In [17]:
for i in dict1.values():
    print(i)

2
5
3

In [18]:
for i in dict1.items():
    print(i)

('A', 2)
('B', 5)
('C', 3)

## enumerate function

In [19]:
string = 'Python'

for i,j in enumerate(string):
    print(i,j)

0 P
1 y
2 t
3 h
4 o
5 n

# Nested Loops

for loop inside another for loop

In [20]:
for i in range(4):
    print(i)

0
1
2
3

In [22]:
for i in range(4):          # 0,1,2,3
    for j in range(4):      # 0,1,2,3
        print(i,j)
    print()

0 0
0 1
0 2
0 3

1 0
1 1
1 2
1 3

2 0
2 1
2 2
2 3

3 0
3 1
3 2
3 3

In [23]:
for i in range(4):          # 0,1,2,3
    for j in range(2):      # 0,1
        print(i,j)
    print()

0 0
0 1

1 0
1 1

2 0
2 1

3 0
3 1

In [24]:
for i in range(2):          # 0,1
    for j in range(4):      # 0,1,2,3
        print(i,j)
    print()

0 0
0 1
0 2
0 3

1 0
1 1
1 2
1 3

In [ ]:
4 yug >> 12 hrs >> 100 yrs life >> 1 breath

In [26]:
for i in range(2):          # 0,1
    for j in range(3):      # 0,1,2
        for k in range(4):  # 0,1,2,3
            print(i,j,k)
        print()
    print("--------------")

0 0 0
0 0 1
0 0 2
0 0 3

0 1 0
0 1 1
0 1 2
0 1 3

0 2 0
0 2 1
0 2 2
0 2 3

--------------
1 0 0
1 0 1
1 0 2
1 0 3

1 1 0
1 1 1
1 1 2
1 1 3

1 2 0
1 2 1
1 2 2
1 2 3

--------------

In [27]:
for i in range(4):
    print('*')

*
*
*
*

In [28]:
for i in range(4):
    print('*',end=' ')

* * * *

In [29]:
for i in range(4):
    for j in range(3):
        print('*')

*
*
*
*
*
*
*
*
*
*
*
*

In [30]:
for i in range(4):
    for j in range(3):
        print('*',end= ' ')

* * * * * * * * * * * *

In [31]:
for i in range(4):
    for j in range(3):
        print('*',end= ' ')
    print(end='\n')

* * *
* * *
* * *
* * *

In [32]:
for i in range(4):
    for j in range(4):
        print('*',end= ' ')
    print()

* * * *
* * * *
* * * *
* * * *

In [33]:
for i in range(4):
    for j in range(4):
        for k in range(4):
            print('*',end= ' ')
        print()
    print()

* * * *
* * * *
* * * *
* * * *

* * * *
* * * *
* * * *
* * * *

* * * *
* * * *
* * * *
* * * *

* * * *
* * * *
* * * *
* * * *

In [36]:
for i in range(4):
    for j in range(2):
        print('*',end=' ')
    for k in range(3):
        print('*',end= ' ')    
    print()

* * * * *
* * * * *
* * * * *
* * * * *

In [35]:
for i in range(4):
    for j in range(2):
        print('*',end='+')
    for k in range(3):
        print('*',end= '-')    
    print()

*+*+*-*-*-
*+*+*-*-*-
*+*+*-*-*-
*+*+*-*-*-

In [41]:
for i in range(4):
    for j in range(2):
        print('*',end=' ')
    print()
        
for m in range(2):
    for k in range(3):
        print('*',end= ' ')    
    print()

* *
* *
* *
* *
* * *
* * *

In [ ]:
* 
* *  
* * *

In [46]:
for i in range(1,4):              # 1,2,3
    for j in range(i):          # 1,2,3
        print('*',end= ' ')    
    print()

*
* *
* * *

In [48]:
for i in range(3):              # 0,1,2
    for j in range(i+1):          # 1,2,3
        print('*',end= ' ')    
    print()

*
* *
* * *

In [50]:
for i in range(1):              # 1,2,3
    for j in range(1):          # 1,2,3
        print('*',end= ' ') 
    print()
    for j in range(2):          # 1,2,3
        print('*',end= ' ') 
    print()
    for j in range(3):          # 1,2,3
        print('*',end= ' ') 
    print()

*
* *
* * *

In [51]:
for j in range(1):          # 1,2,3
        print('*',end= ' ') 
print()

for j in range(2):          # 1,2,3
    print('*',end= ' ') 
print()

for j in range(3):          # 1,2,3
    print('*',end= ' ') 
print()

*
* *
* * *

In [56]:
print('*')
print('* *')
print('* * *')

*
* *
* * *

In [55]:
for i in range(3):      #0,1,2
    print('* '*(i+1))

*
* *
* * *

In [57]:
for i in range(1,4):      #1,2,3
    print('* '*i)

*
* *
* * *

In [ ]:
    *
  * *
* * *

In [65]:
for i in range(3,0,-1):               # 3,2,1
    print('  '*(i-1)+'* '*(4-i))

    *
  * *
* * *

In [68]:
x = int(input())
for i in range(x,0,-1):               # 3,2,1
    print('  '*(i-1)+'* '*((x+1)-i))

5
        *
      * *
    * * *
  * * * *
* * * * *

In [71]:
for i in range(1,5):
    for j in range(4-i):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    print()

      *
    * *
  * * *
* * * *

In [72]:
for i in range(1,5):
    for k in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [77]:
for i in range(1,5):
    for j in range(4-i):
        print('  ',end='')
    for k in range(i):
        print('* ',end='')
    print()

      *
    * *
  * * *
* * * *

# For Else

Else will be executed after for loop
however if forr loop consist of break statement then else will not be executed

In [1]:
a = 1

for i in range(5):
    print(a)
    
else:
    print('thank you!')

1
1
1
1
1
thank you!

In [2]:
a = 1

for i in range(5):
    print(a)
    break
    
else:
    print('thank you!')

1

In [21]:
a,f = int(input()),1

for i in range(1,a+1):
    f=f*i
    
else:
    if f < 500:
        print(f'factorial of the number {a} is ',f)
        
    else:
        print('We dont consider numbers whose factorial is greater than 500')

5
factorial of the number 5 is  120

# Pass, Continue & Break

pass is used so as to neither express any statement further or bypass the condition of loop
pass does not stop or break the iteration
pass is also used along with conditional statements

continue will break the current iteration & jump to next iteration
break will break the loop altogether & come out of the for or for-else loop

## Use of pass

In [10]:
a = [1,2,3,4]

if 4 in a:
    pass
    print('printing for no reason')
    
else:
    print('4 not in list a')

printing for no reason

In [12]:
n = 5

for i in range(n):
    pass

In [14]:
n = 5

for i in range(n):
    if i==0:
        pass
    else:
        print(i)

1
2
3
4

## continue

In [17]:
a = 0

for i in range(10):
    if i == 0:
        print('countinue found below')
        continue
        print('continue found above')
    
    else:
        print(i)
        
else:
    print('loop completed!')

countinue found below
1
2
3
4
5
6
7
8
9
loop completed!

## Break

In [19]:
for i in range(10):
    if i == 0:
        print('break found below')
        break
        print('break found above')
    
    else:
        print(i)
        
else:
    print('loop completed!')

countinue found below