In [1]:
import time
import datetime

date = 15-5-2022
date = 15/5/2022
date = 15,5,2022
date = 15 May 2022
date = 5/15/22

In [37]:
date = ('15-5-2022'.split('-'))[::-1]
x = ','.join(date)
x

'2022,5,15'

In [2]:
start_time = time.time()

for i in range(10000000):
    pass

end_time = time.time()
diff = end_time-start_time
diff

0.33240318298339844

In [3]:
%%time
for i in range(10000000):
    pass

Wall time: 300 ms

# time.time()

In [4]:
time.time()

1660097433.2027638

# it shows the time in seconds that has been passed since 1970

# datetime.datetime()

In [8]:
datetime.datetime.today()

datetime.datetime(2022, 8, 10, 7, 41, 37, 582893)

datetime.datetime(Year, Month, Day, Hour, Minutes, Seconds, Miliseconds)

In [9]:
print(datetime.datetime.today())

2022-08-10 07:42:43.342397

In [10]:
print(datetime.datetime.now())

2022-08-10 07:43:06.963711

In [16]:
print(datetime.datetime.now().day)

10

In [17]:
current_date = datetime.datetime.now()
current_date.year

2022

In [18]:
current_date.month

8

In [19]:
current_date.day

10

In [20]:
current_date.hour

7

In [22]:
current_date.minute

44

In [23]:
current_date.second

18

### getting the date only from datetime

In [26]:
current_date = datetime.datetime.now()
print(current_date.date())

2022-08-10

In [27]:
current_date = datetime.datetime.now()
print(current_date.time())

07:46:38.737708

### creating datestammp from some time format

In [28]:
some_date = datetime.datetime(2000,8,15,23,15,45)
print(some_date)

2000-08-15 23:15:45

In [29]:
print(some_date.year)

2000

In [30]:
some_date = datetime.datetime(2000,8,15)
print(some_date)

2000-08-15 00:00:00

In [38]:
some_date = datetime.datetime(2022,5,15)
print(some_date)

2022-05-15 00:00:00

# Strftime()

strftime > string from time object
it returns a string

In [40]:
current_date = datetime.datetime.now()
print(current_date)

2022-08-10 07:56:50.929061

In [41]:
print(current_date.strftime('%Y'))

2022

In [43]:
print(datetime.datetime.now().strftime('%y'))

22

In [ ]:
# List of all different strf formats

*current_date.strftime('%Y')       # 2022
*current_date.strftime('%y')       # 22 current_date
*current_date.strftime('%d')       # Date
*current_date.strftime('%m')       # Month in digits
*current_date.strftime('%b')       # Abbrivated month in alphabets (feb)
*current_date.strftime('%B')       # complete month name in alphabets (february)
*current_date.strftime('%D')       # Date in format(months/date/year)
*current_date.strftime('%a')       # Abbrivated weekday in alphabets (mon)
*current_date.strftime('%A')       # complete day name in alphabets (Monday)
current_date.strftime('%w')       # weekday in number (sun = 0, mon = 1...)
current_date.strftime('%u')       # weekday number in that week (sun considered as 1 & mon also 1)
current_date.strftime('%U')       # week number in that year
current_date.strftime('%e')       # day of the month (1 to 31) / date
current_date.strftime('%j')       # day number in that year
current_date.strftime('%p')       # shows am/pm format
*current_date.strftime('%M')       # Shows the minutes in number
*current_date.strftime('%H')       # hours in digits
current_date.strftime('%S')       # seconds in time format
*current_date.strftime('%r')       # time in hour,minutes,seconds along with Am/Pm
*current_date.strftime('%R')       # time in hour & minutes only in 24 hour format
current_date.strftime('%c')       # Day abbrivated, Month Abbrivated, date number, time & year
current_date.strftime('%x')       # date in / format (same as %D)
current_date.strftime('%X')       # time in hour, minute, second only

In [44]:
current_date.strftime('%d')

'10'

In [46]:
current_date.strftime('%m')       # Month in digits

'08'

In [48]:
current_date.strftime('%b')

'Aug'

In [49]:
current_date.strftime('%B')

'August'

In [50]:
current_date.strftime('%a')

'Wed'

In [51]:
current_date.strftime('%A')

'Wednesday'

In [52]:
current_date.strftime('%U')       # week number in that year

'32'

In [53]:
current_date.strftime('%j')       # day number in that year

'222'

In [54]:
current_date.strftime('%p')       # shows am/pm format

'AM'

In [55]:
print(current_date.strftime('%a'))       # Abbrivated weekday in alphabets (mon)
print(current_date.strftime('%A'))       # complete Week name in alphabets (feb)
print(current_date.strftime('%w'))       # weekday in number (sun = 0, mon = 1...)
print(current_date.strftime('%u'))       # weekday number in that week (sun considered as 1 & mon also 1)
print(current_date.strftime('%U'))       # week number in that year

Wed
Wednesday
3
3
32

In [56]:
print(current_date.strftime('%e'))       # day of the month (1 to 31) / date
print(current_date.strftime('%j') )      # day number in that year
print(current_date.strftime('%p'))       # shows am/pm format

10
222
AM

In [57]:
print(current_date.strftime('%M') )      # Shows the minutes in number
print(current_date.strftime('%H'))       # hours in digits
print(current_date.strftime('%S')  )     # seconds in time format
print(current_date.strftime('%r') )      # time in hour,minutes,seconds along with Am/Pm
print(current_date.strftime('%R')   )    # time in hour & minutes only in 24 hour format
print(current_date.strftime('%c')  )     # Day abbrivated, Month Abbrivated, date number, time & year
print(current_date.strftime('%x'))       # date in / format (same as %D)
print(current_date.strftime('%X')   )    # time in hour:minutes:seconds in 24 hour format

56
07
50
07:56:50 AM
07:56
Wed Aug 10 07:56:50 2022
08/10/22
07:56:50

In [ ]:
Directive
%a - abbreviated weekday name

%A - full weekday name

%b - abbreviated month name

%B - full month name

%c - preferred date and time representation

%C - century number (the year divided by 100, range 00 to 99)

%d - day of the month (01 to 31)

%D - same as %m/%d/%y

%e - day of the month (1 to 31)

%g - like %G, but without the century

%G - 4-digit year corresponding to the ISO week number (see %V).

%h - same as %b

%H - hour, using a 24-hour clock (00 to 23)

%I - hour, using a 12-hour clock (01 to 12)

%j - day of the year (001 to 366)

%m - month (01 to 12)

%M - minute

%n - newline character

%p - either am or pm according to the given time value

%r - time in a.m. and p.m. notation

%R - time in 24 hour notation

%S - second

%t - tab character

%T - current time, equal to %H:%M:%S

%u - weekday as a number (1 to 7), Monday=1. Warning: In Sun Solaris Sunday=1

%U - week number of the current year, starting with the first Sunday as the first day of the first week

%V - The ISO 8601 week number of the current year (01 to 53), where week 1 is the first week that has at least 4 days in the current year, and with Monday as the first day of the week

%W - week number of the current year, starting with the first Monday as the first day of the first week

%w - day of the week as a decimal, Sunday=0

%x - preferred date representation without the time

%X - preferred time representation without the date

%y - year without a century (range 00 to 99)

%Y - year including the century

%Z or %z - time zone or name or abbreviation

%% - a literal % character

# strptime()

strptime > strptimeing parsing time/ sting points to time
strptime > create a datetime object from any given string of date & timeme format

In [58]:
standard_date = datetime.datetime.strptime('1 Apr 2022','%d %b %Y')
print(standard_date)

2022-04-01 00:00:00

In [60]:
standard_date.strftime('%B')

'April'

In [66]:
date = '10/8/2000'
standard_date = datetime.datetime.strptime(date,'%d/%m/%Y')
print(standard_date.strftime('%A'))

Thursday

In [67]:
date_list = ['15/8/2022','5-6-21','25-9-2021','1992020','2/8/22','15-Jul-2022','15/Aug/94']

date_formats = ['%d/%m/%Y','%d-%m-%Y','%d-%b-%Y','%d/%b/%y','%d-%B-%y','%d-%m-%y','%d/%m/%y','%d%m%Y']

for date in date_list:
    for formats in date_formats:
        try:
            print(datetime.datetime.strptime(date,formats))
        except:
            pass

2022-08-15 00:00:00
2021-06-05 00:00:00
2021-09-25 00:00:00
2020-09-19 00:00:00
2022-08-02 00:00:00
2022-07-15 00:00:00
1994-08-15 00:00:00

NOTE : strptime converts any raw date into standatd datetime format
       strftime fetches any specific data from standard datetime format

In [68]:
final_Date = datetime.datetime(2012,3,31,3,15,45)
Previous_Date = datetime.datetime(1994,7,25,12,45,12)

print(final_Date,'-----',Previous_Date)

2012-03-31 03:15:45 ----- 1994-07-25 12:45:12

In [77]:
z = final_Date-Previous_Date
print(z)

6458 days, 14:30:33

In [70]:
print(final_Date-Previous_Date)

6458 days, 14:30:33

In [74]:
z.days

6458

In [75]:
z.seconds

52233

In [80]:
from dateutil.relativedelta import relativedelta
diff = relativedelta(final_Date, Previous_Date)

In [82]:
diff.years

17

In [87]:
diff.months

8

In [89]:
diff.days

5

# Timedelta()

Difference between two datetime values.

timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [90]:
current_date = datetime.datetime.today()
print(current_date)

2022-08-10 08:31:24.605138

In [96]:
required_date = current_date+datetime.timedelta(days=-10)
print(required_date)

2022-07-31 08:31:24.605138

In [92]:
required_date = current_date+datetime.timedelta(days=10)
required_date

datetime.datetime(2022, 8, 20, 8, 31, 24, 605138)

In [93]:
required_date = current_date-datetime.timedelta(days=10)
required_date

datetime.datetime(2022, 7, 31, 8, 31, 24, 605138)

In [95]:
required_date = current_date-datetime.timedelta(weeks=3)
print(required_date)

2022-07-20 08:31:24.605138

In [98]:
required_date = current_date-datetime.timedelta(hours=20540,minutes=35)
print(required_date)

2020-04-06 11:56:24.605138

In [101]:
# WAP to create past 10 days date & future 10 days date

current_date = datetime.datetime.today()

for i in range(10,0,-1):
    print((current_date-datetime.timedelta(days=i)).date())
    
for i in range(0,11):
    print((current_date+datetime.timedelta(days=i)).date())

2022-07-31
2022-08-01
2022-08-02
2022-08-03
2022-08-04
2022-08-05
2022-08-06
2022-08-07
2022-08-08
2022-08-09
2022-08-10
2022-08-11
2022-08-12
2022-08-13
2022-08-14
2022-08-15
2022-08-16
2022-08-17
2022-08-18
2022-08-19
2022-08-20

# WAP to create all the dates of 2022

In [4]:
import datetime
initial_date = datetime.datetime(2022,1,1)
for i in range(365):
    print((initial_date+datetime.timedelta(i)).date())

2022-01-01
2022-01-02
2022-01-03
2022-01-04
2022-01-05
2022-01-06
2022-01-07
2022-01-08
2022-01-09
2022-01-10
2022-01-11
2022-01-12
2022-01-13
2022-01-14
2022-01-15
2022-01-16
2022-01-17
2022-01-18
2022-01-19
2022-01-20
2022-01-21
2022-01-22
2022-01-23
2022-01-24
2022-01-25
2022-01-26
2022-01-27
2022-01-28
2022-01-29
2022-01-30
2022-01-31
2022-02-01
2022-02-02
2022-02-03
2022-02-04
2022-02-05
2022-02-06
2022-02-07
2022-02-08
2022-02-09
2022-02-10
2022-02-11
2022-02-12
2022-02-13
2022-02-14
2022-02-15
2022-02-16
2022-02-17
2022-02-18
2022-02-19
2022-02-20
2022-02-21
2022-02-22
2022-02-23
2022-02-24
2022-02-25
2022-02-26
2022-02-27
2022-02-28
2022-03-01
2022-03-02
2022-03-03
2022-03-04
2022-03-05
2022-03-06
2022-03-07
2022-03-08
2022-03-09
2022-03-10
2022-03-11
2022-03-12
2022-03-13
2022-03-14
2022-03-15
2022-03-16
2022-03-17
2022-03-18
2022-03-19
2022-03-20
2022-03-21
2022-03-22
2022-03-23
2022-03-24
2022-03-25
2022-03-26
2022-03-27
2022-03-28
2022-03-29
2022-03-30
2022-03-31
2022-04-01
2022-04-02
2022-04-03
2022-04-04
2022-04-05
2022-04-06
2022-04-07
2022-04-08
2022-04-09
2022-04-10
2022-04-11
2022-04-12
2022-04-13
2022-04-14
2022-04-15
2022-04-16
2022-04-17
2022-04-18
2022-04-19
2022-04-20
2022-04-21
2022-04-22
2022-04-23
2022-04-24
2022-04-25
2022-04-26
2022-04-27
2022-04-28
2022-04-29
2022-04-30
2022-05-01
2022-05-02
2022-05-03
2022-05-04
2022-05-05
2022-05-06
2022-05-07
2022-05-08
2022-05-09
2022-05-10
2022-05-11
2022-05-12
2022-05-13
2022-05-14
2022-05-15
2022-05-16
2022-05-17
2022-05-18
2022-05-19
2022-05-20
2022-05-21
2022-05-22
2022-05-23
2022-05-24
2022-05-25
2022-05-26
2022-05-27
2022-05-28
2022-05-29
2022-05-30
2022-05-31
2022-06-01
2022-06-02
2022-06-03
2022-06-04
2022-06-05
2022-06-06
2022-06-07
2022-06-08
2022-06-09
2022-06-10
2022-06-11
2022-06-12
2022-06-13
2022-06-14
2022-06-15
2022-06-16
2022-06-17
2022-06-18
2022-06-19
2022-06-20
2022-06-21
2022-06-22
2022-06-23
2022-06-24
2022-06-25
2022-06-26
2022-06-27
2022-06-28
2022-06-29
2022-06-30
2022-07-01
2022-07-02
2022-07-03
2022-07-04
2022-07-05
2022-07-06
2022-07-07
2022-07-08
2022-07-09
2022-07-10
2022-07-11
2022-07-12
2022-07-13
2022-07-14
2022-07-15
2022-07-16
2022-07-17
2022-07-18
2022-07-19
2022-07-20
2022-07-21
2022-07-22
2022-07-23
2022-07-24
2022-07-25
2022-07-26
2022-07-27
2022-07-28
2022-07-29
2022-07-30
2022-07-31
2022-08-01
2022-08-02
2022-08-03
2022-08-04
2022-08-05
2022-08-06
2022-08-07
2022-08-08
2022-08-09
2022-08-10
2022-08-11
2022-08-12
2022-08-13
2022-08-14
2022-08-15
2022-08-16
2022-08-17
2022-08-18
2022-08-19
2022-08-20
2022-08-21
2022-08-22
2022-08-23
2022-08-24
2022-08-25
2022-08-26
2022-08-27
2022-08-28
2022-08-29
2022-08-30
2022-08-31
2022-09-01
2022-09-02
2022-09-03
2022-09-04
2022-09-05
2022-09-06
2022-09-07
2022-09-08
2022-09-09
2022-09-10
2022-09-11
2022-09-12
2022-09-13
2022-09-14
2022-09-15
2022-09-16
2022-09-17
2022-09-18
2022-09-19
2022-09-20
2022-09-21
2022-09-22
2022-09-23
2022-09-24
2022-09-25
2022-09-26
2022-09-27
2022-09-28
2022-09-29
2022-09-30
2022-10-01
2022-10-02
2022-10-03
2022-10-04
2022-10-05
2022-10-06
2022-10-07
2022-10-08
2022-10-09
2022-10-10
2022-10-11
2022-10-12
2022-10-13
2022-10-14
2022-10-15
2022-10-16
2022-10-17
2022-10-18
2022-10-19
2022-10-20
2022-10-21
2022-10-22
2022-10-23
2022-10-24
2022-10-25
2022-10-26
2022-10-27
2022-10-28
2022-10-29
2022-10-30
2022-10-31
2022-11-01
2022-11-02
2022-11-03
2022-11-04
2022-11-05
2022-11-06
2022-11-07
2022-11-08
2022-11-09
2022-11-10
2022-11-11
2022-11-12
2022-11-13
2022-11-14
2022-11-15
2022-11-16
2022-11-17
2022-11-18
2022-11-19
2022-11-20
2022-11-21
2022-11-22
2022-11-23
2022-11-24
2022-11-25
2022-11-26
2022-11-27
2022-11-28
2022-11-29
2022-11-30
2022-12-01
2022-12-02
2022-12-03
2022-12-04
2022-12-05
2022-12-06
2022-12-07
2022-12-08
2022-12-09
2022-12-10
2022-12-11
2022-12-12
2022-12-13
2022-12-14
2022-12-15
2022-12-16
2022-12-17
2022-12-18
2022-12-19
2022-12-20
2022-12-21
2022-12-22
2022-12-23
2022-12-24
2022-12-25
2022-12-26
2022-12-27
2022-12-28
2022-12-29
2022-12-30
2022-12-31

In [1]:
def function(x):
    return x**2


list(map(function,[1,2,3,4]))

[1, 4, 9, 16]