In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('movies_data.csv')
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [10]:
df[df['star_rating']>9]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [18]:
df[df['star_rating']<7.5]

,star_rating,title,content_rating,genre,duration,actors_list
930,7.4,Man on the Moon,R,Biography,118,"[u'Jim Carrey', u'Danny DeVito', u'Gerry Becker']"
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
932,7.4,Harry Potter and the Order of the Phoenix,PG-13,Adventure,138,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
933,7.4,Beetlejuice,PG,Comedy,92,"[u'Alec Baldwin', u'Geena Davis', u'Michael Ke..."
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"[u'Steve Carell', u'Ryan Gosling', u'Julianne ..."
935,7.4,Excalibur,R,Adventure,140,"[u'Nigel Terry', u'Helen Mirren', u'Nicholas C..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
937,7.4,Labyrinth,PG,Adventure,101,"[u'David Bowie', u'Jennifer Connelly', u'Toby ..."
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
940,7.4,Much Ado About Nothing,PG-13,Comedy,111,"[u'Kenneth Branagh', u'Emma Thompson', u'Keanu..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
942,7.4,Raising Arizona,PG-13,Comedy,94,"[u'Nicolas Cage', u'Holly Hunter', u'Trey Wils..."
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ..."
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [19]:
df.loc[np.where(df['star_rating']>9)]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [21]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

# And condition()

In [23]:
df[(df['star_rating']>9)&(df['duration']>150)]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."

In [24]:
df[(df['star_rating']>8)&(df['duration']>150)&(df['content_rating']=='R')]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
49,8.5,The Departed,R,Crime,151,"[u'Leonardo DiCaprio', u'Matt Damon', u'Jack N..."
50,8.5,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', u'Enzo Cannavale', u'Anto..."
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
82,8.4,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sophie Marceau', u'Patrick M..."
99,8.4,Amadeus,R,Biography,160,"[u'F. Murray Abraham', u'Tom Hulce', u'Elizabe..."
114,8.3,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']"
115,8.3,Scarface,R,Crime,170,"[u'Al Pacino', u'Michelle Pfeiffer', u'Steven ..."
125,8.3,Downfall,R,Biography,156,"[u'Bruno Ganz', u'Alexandra Maria Lara', u'Ulr..."
129,8.3,Ran,R,Action,162,"[u'Tatsuya Nakadai', u'Akira Terao', u'Jinpach..."
135,8.3,Heat,R,Action,170,"[u'Al Pacino', u'Robert De Niro', u'Val Kilmer']"
143,8.2,The Wolf of Wall Street,R,Biography,180,"[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot..."
156,8.2,Casino,R,Biography,178,"[u'Robert De Niro', u'Sharon Stone', u'Joe Pes..."
166,8.2,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u'Christopher Walken', u'J..."
184,8.2,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pernilla Allwin', u'Kristin..."
202,8.1,La leggenda del pianista sull'oceano,R,Drama,165,"[u'Tim Roth', u'Pruitt Taylor Vince', u'Bill N..."
205,8.1,Amores Perros,R,Drama,154,"[u'Emilio Echevarr\xeda', u'Gael Garc\xeda Ber..."
213,8.1,There Will Be Blood,R,Drama,158,"[u'Daniel Day-Lewis', u'Paul Dano', u'Ciar\xe1..."
226,8.1,Boyhood,R,Drama,165,"[u'Ellar Coltrane', u'Patricia Arquette', u'Et..."
273,8.1,Papillon,R,Biography,151,"[u'Steve McQueen', u'Dustin Hoffman', u'Victor..."
290,8.1,Prisoners,R,Crime,153,"[u'Hugh Jackman', u'Jake Gyllenhaal', u'Viola ..."

# OR condition()

In [25]:
df[(df['star_rating']>9)|(df['duration']>200)]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [26]:
df[((df['star_rating']>9)&(df['content_rating']=='R'))|((df['genre']=='Adventure')&(df['duration']>200))]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."

# isin function()

In [30]:
list1 = ['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED']

df[df['content_rating'].isin(list1)]
df.loc[np.where(df['content_rating'].isin(list1))]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

# Not operator

In [34]:
df.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [35]:
list1 = ['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED']
list2 = ['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror']

df[~(df['content_rating'].isin(list1)|(df['genre'].isin(list2)))]

,star_rating,title,content_rating,genre,duration,actors_list
210,8.1,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'Dana Andrews', u'Clifton W..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."

# unique()

In [36]:
df['genre'].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [38]:
df['content_rating'].unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

# nunique()

In [37]:
df['genre'].nunique()

16

In [39]:
df['content_rating'].nunique()

12

# value_counts()

In [40]:
df['genre'].value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [42]:
df[df['genre']=='Family']

,star_rating,title,content_rating,genre,duration,actors_list
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."

# groupby

In [44]:
df.groupby('genre')

In [49]:
from termcolor import colored
for genre,subdf in df.groupby('genre'):
    print(colored(genre,attrs=['bold']))
#     display(subdf)

Action
Adventure
Animation
Biography
Comedy
Crime
Drama
Family
Fantasy
Film-Noir
History
Horror
Mystery
Sci-Fi
Thriller
Western

# getgroup()

In [52]:
df.groupby('genre').get_group('Comedy')

,star_rating,title,content_rating,genre,duration,actors_list
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He..."
48,8.5,Dr. Strangelove or: How I Learned to Stop Worr...,PG,Comedy,95,"[u'Peter Sellers', u'George C. Scott', u'Sterl..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."
...,...,...,...,...,...,...
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."

In [55]:
df.groupby(['genre','content_rating']).get_group(('Comedy','PG-13'))

,star_rating,title,content_rating,genre,duration,actors_list
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
314,8.0,Crimes and Misdemeanors,PG-13,Comedy,104,"[u'Martin Landau', u'Woody Allen', u'Bill Bern..."
356,8.0,The Artist,PG-13,Comedy,100,"[u'Jean Dujardin', u'B\xe9r\xe9nice Bejo', u'J..."
370,8.0,Hannah and Her Sisters,PG-13,Comedy,103,"[u'Mia Farrow', u'Dianne Wiest', u'Michael Cai..."
459,7.9,Ferris Bueller's Day Off,PG-13,Comedy,103,"[u'Matthew Broderick', u'Alan Ruck', u'Mia Sara']"
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
578,7.8,As Good as It Gets,PG-13,Comedy,139,"[u'Jack Nicholson', u'Helen Hunt', u'Greg Kinn..."
622,7.7,The Dinner Game,PG-13,Comedy,80,"[u'Thierry Lhermitte', u'Jacques Villeret', u'..."
639,7.7,Billy Elliot,PG-13,Comedy,110,"[u'Jamie Bell', u'Julie Walters', u'Jean Heywo..."
667,7.7,Midnight in Paris,PG-13,Comedy,94,"[u'Owen Wilson', u'Rachel McAdams', u'Kathy Ba..."
696,7.7,Stranger Than Fiction,PG-13,Comedy,113,"[u'Will Ferrell', u'Emma Thompson', u'Dustin H..."
735,7.6,The Naked Gun: From the Files of Police Squad!,PG-13,Comedy,85,"[u'Leslie Nielsen', u'Priscilla Presley', u'O...."
806,7.6,Juno,PG-13,Comedy,96,"[u'Ellen Page', u'Michael Cera', u'Jennifer Ga..."
821,7.6,Christmas Vacation,PG-13,Comedy,97,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Juliet..."
857,7.5,Pleasantville,PG-13,Comedy,124,"[u'Tobey Maguire', u'Jeff Daniels', u'Joan All..."
867,7.5,Best in Show,PG-13,Comedy,90,"[u'Fred Willard', u'Eugene Levy', u""Catherine ..."
868,7.5,Everything Is Illuminated,PG-13,Comedy,106,"[u'Elijah Wood', u'Eugene Hutz', u'Boris Leskin']"
929,7.5,Say Anything...,PG-13,Comedy,100,"[u'John Cusack', u'Ione Skye', u'John Mahoney']"
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"[u'Steve Carell', u'Ryan Gosling', u'Julianne ..."
940,7.4,Much Ado About Nothing,PG-13,Comedy,111,"[u'Kenneth Branagh', u'Emma Thompson', u'Keanu..."
942,7.4,Raising Arizona,PG-13,Comedy,94,"[u'Nicolas Cage', u'Holly Hunter', u'Trey Wils..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."

# statistical functions on groupby

In [117]:
df.groupby('genre').sum()

           star_rating  duration
genre
Action          1072.3     17202
Adventure        595.0     10113
Animation        490.7      5989
Biography        605.4     10152
Comedy          1220.3     16786
Crime            981.7     15165
Drama           2196.9     35178
Family            15.7       215
Fantasy            7.7       112
Film-Noir         24.1       292
History            8.0        66
Horror           226.4      2973
Mystery          127.6      1850
Sci-Fi            39.6       545
Thriller          38.4       571
Western           74.3      1230

In [118]:
df.groupby('genre').mean()

           star_rating    duration
genre
Action        7.884559  126.485294
Adventure     7.933333  134.840000
Animation     7.914516   96.596774
Biography     7.862338  131.844156
Comedy        7.822436  107.602564
Crime         7.916935  122.298387
Drama         7.902518  126.539568
Family        7.850000  107.500000
Fantasy       7.700000  112.000000
Film-Noir     8.033333   97.333333
History       8.000000   66.000000
Horror        7.806897  102.517241
Mystery       7.975000  115.625000
Sci-Fi        7.920000  109.000000
Thriller      7.680000  114.200000
Western       8.255556  136.666667

In [119]:
df.groupby('genre')['duration'].mean().reset_index()

        genre    duration
0      Action  126.485294
1   Adventure  134.840000
2   Animation   96.596774
3   Biography  131.844156
4      Comedy  107.602564
5       Crime  122.298387
6       Drama  126.539568
7      Family  107.500000
8     Fantasy  112.000000
9   Film-Noir   97.333333
10    History   66.000000
11     Horror  102.517241
12    Mystery  115.625000
13     Sci-Fi  109.000000
14   Thriller  114.200000
15    Western  136.666667

In [120]:
df.groupby(['genre','content_rating'])['title'].count()

genre    content_rating
Action   APPROVED          3
         G                 1
         GP                1
         NOT RATED         4
         PASSED            1
                          ..
Western  APPROVED          1
         NOT RATED         2
         PG                2
         PG-13             1
         R                 3
Name: title, Length: 95, dtype: int64

In [121]:
df.groupby(['genre','content_rating'])['duration'].sum().reset_index().head(20)

        genre content_rating  duration
0      Action       APPROVED       430
1      Action              G       178
2      Action             GP       144
3      Action      NOT RATED       518
4      Action         PASSED        98
5      Action             PG      1317
6      Action          PG-13      5729
7      Action              R      8298
8      Action        UNRATED       332
9   Adventure       APPROVED       475
10  Adventure              G       324
11  Adventure      NOT RATED       566
12  Adventure         PASSED       102
13  Adventure             PG      2813
14  Adventure          PG-13      3310
15  Adventure              R      2123
16  Adventure        UNRATED       272
17  Animation       APPROVED       254
18  Animation              G      1863
19  Animation      NOT RATED       273

In [122]:
df.groupby('content_rating')['duration'].max().reset_index()

   content_rating  duration
0        APPROVED       220
1               G       238
2              GP       172
3           NC-17       179
4       NOT RATED       189
5          PASSED       172
6              PG       224
7           PG-13       242
8               R       229
9           TV-MA       131
10        UNRATED       207
11              X       136

# agg function in groupby`

In [123]:
df.groupby('content_rating')['star_rating'].agg((np.mean,np.median,np.sum,np.max,np.min)).reset_index()

   content_rating      mean  median     sum  amax  amin
0        APPROVED  8.027660     8.1   377.3   8.7   7.5
1               G  7.990625     8.0   255.7   8.6   7.4
2              GP  7.933333     8.0    23.8   8.1   7.7
3           NC-17  7.614286     7.6    53.3   7.9   7.4
4       NOT RATED  8.123077     8.2   528.0   8.9   7.5
5          PASSED  8.157143     8.1    57.1   8.6   7.7
6              PG  7.879675     7.8   969.2   8.8   7.4
7           PG-13  7.828571     7.8  1479.6   9.0   7.4
8               R  7.854783     7.8  3613.2   9.3   7.4
9           TV-MA  8.100000     8.1     8.1   8.1   8.1
10        UNRATED  7.994737     8.0   303.8   8.7   7.4
11              X  7.925000     7.9    31.7   8.4   7.5

In [124]:
df.groupby('content_rating')['genre'].agg(pd.Series.mode).reset_index()

   content_rating                           genre
0        APPROVED                           Drama
1               G                       Animation
2              GP     [Action, Biography, Comedy]
3           NC-17                           Drama
4       NOT RATED                           Drama
5          PASSED                          Comedy
6              PG              [Animation, Drama]
7           PG-13                           Drama
8               R                           Drama
9           TV-MA                           Drama
10        UNRATED                           Crime
11              X  [Comedy, Crime, Drama, Horror]

In [125]:
df.groupby('genre').agg({'star_rating':'mean','content_rating':'count'})

           star_rating  content_rating
genre
Action        7.884559             135
Adventure     7.933333              74
Animation     7.914516              62
Biography     7.862338              76
Comedy        7.822436             156
Crime         7.916935             124
Drama         7.902518             278
Family        7.850000               2
Fantasy       7.700000               1
Film-Noir     8.033333               3
History       8.000000               1
Horror        7.806897              29
Mystery       7.975000              16
Sci-Fi        7.920000               5
Thriller      7.680000               5
Western       8.255556               9

# aggregate function()

In [126]:
df.groupby('genre').aggregate({'star_rating':'mean','content_rating':'count'})

           star_rating  content_rating
genre
Action        7.884559             135
Adventure     7.933333              74
Animation     7.914516              62
Biography     7.862338              76
Comedy        7.822436             156
Crime         7.916935             124
Drama         7.902518             278
Family        7.850000               2
Fantasy       7.700000               1
Film-Noir     8.033333               3
History       8.000000               1
Horror        7.806897              29
Mystery       7.975000              16
Sci-Fi        7.920000               5
Thriller      7.680000               5
Western       8.255556               9

In [127]:
df.groupby('content_rating')['genre'].aggregate(pd.Series.mode).reset_index()

   content_rating                           genre
0        APPROVED                           Drama
1               G                       Animation
2              GP     [Action, Biography, Comedy]
3           NC-17                           Drama
4       NOT RATED                           Drama
5          PASSED                          Comedy
6              PG              [Animation, Drama]
7           PG-13                           Drama
8               R                           Drama
9           TV-MA                           Drama
10        UNRATED                           Crime
11              X  [Comedy, Crime, Drama, Horror]

# sort in groupby

In [128]:
df.groupby('genre',sort=True).aggregate({'star_rating':'mean','content_rating':'count'})

           star_rating  content_rating
genre
Action        7.884559             135
Adventure     7.933333              74
Animation     7.914516              62
Biography     7.862338              76
Comedy        7.822436             156
Crime         7.916935             124
Drama         7.902518             278
Family        7.850000               2
Fantasy       7.700000               1
Film-Noir     8.033333               3
History       8.000000               1
Horror        7.806897              29
Mystery       7.975000              16
Sci-Fi        7.920000               5
Thriller      7.680000               5
Western       8.255556               9

In [129]:
df.groupby('genre',sort=False).aggregate({'star_rating':'mean','content_rating':'count'})

           star_rating  content_rating
genre
Crime         7.916935             124
Action        7.884559             135
Drama         7.902518             278
Western       8.255556               9
Adventure     7.933333              74
Biography     7.862338              76
Comedy        7.822436             156
Animation     7.914516              62
Mystery       7.975000              16
Horror        7.806897              29
Film-Noir     8.033333               3
Sci-Fi        7.920000               5
History       8.000000               1
Thriller      7.680000               5
Family        7.850000               2
Fantasy       7.700000               1

# groups

In [131]:
df.groupby('genre').groups

{'Action': [3, 11, 12, 19, 20, 36, 37, 43, 44, 45, 75, 80, 82, 96, 100, 113, 118, 123, 129, 135, 138, 152, 163, 173, 177, 194, 196, 198, 235, 239, 240, 248, 261, 268, 276, 281, 296, 301, 312, 327, 349, 354, 366, 380, 385, 388, 391, 401, 403, 409, 411, 420, 433, 434, 437, 440, 452, 455, 469, 470, 488, 491, 502, 509, 515, 517, 529, 531, 532, 533, 534, 539, 552, 563, 567, 568, 570, 573, 581, 586, 591, 598, 610, 613, 619, 623, 633, 649, 653, 661, 671, 675, 683, 684, 685, 686, 691, 699, 701, 707, ...], 'Adventure': [7, 10, 14, 15, 54, 68, 71, 85, 101, 114, 120, 128, 133, 137, 140, 142, 164, 179, 204, 206, 214, 222, 224, 245, 271, 299, 309, 310, 328, 333, 336, 339, 359, 362, 368, 376, 393, 419, 424, 429, 445, 454, 479, 510, 520, 522, 537, 551, 555, 564, 576, 605, 629, 642, 658, 662, 698, 727, 754, 758, 794, 814, 852, 891, 898, 900, 909, 911, 932, 935, 936, 937, 943, 953, 975], 'Animation': [30, 55, 61, 64, 69, 81, 117, 126, 131, 147, 160, 167, 192, 193, 241, 256, 277, 294, 303, 305, 308, 332, 343, 357, 378, 381, 386, 395, 414, 417, 443, 453, 461, 471, 487, 489, 494, 498, 501, 512, 518, 541, 607, 617, 625, 656, 657, 664, 669, 674, 713, 743, 759, 766, 789, 820, 835, 844, 853, 882, 938, 966], 'Biography': [8, 18, 31, 42, 99, 124, 125, 143, 148, 156, 170, 187, 197, 201, 209, 220, 260, 273, 274, 286, 302, 313, 340, 341, 346, 348, 400, 410, 418, 423, 442, 446, 447, 450, 460, 500, 514, 536, 547, 550, 554, 560, 561, 569, 574, 579, 585, 601, 626, 627, 630, 660, 682, 690, 700, 725, 756, 763, 776, 782, 788, 804, 807, 811, 817, 818, 824, 825, 829, 840, 876, 888, 892, 903, 930, 961, 964], 'Comedy': [25, 29, 35, 48, 52, 60, 66, 70, 88, 93, 94, 97, 103, 106, 109, 111, 144, 151, 153, 155, 165, 183, 189, 190, 208, 231, 246, 252, 254, 255, 265, 266, 275, 280, 282, 285, 287, 293, 298, 304, 306, 314, 315, 319, 352, 356, 358, 367, 370, 382, 394, 399, 435, 451, 458, 459, 462, 464, 465, 472, 475, 480, 483, 486, 516, 519, 524, 527, 535, 542, 545, 546, 553, 557, 565, 578, 580, 582, 584, 588, 590, 593, 595, 597, 599, 602, 608, 611, 612, 614, 615, 622, 631, 639, 640, 641, 646, 650, 663, 667, ...], 'Crime': [0, 1, 2, 4, 21, 23, 28, 34, 40, 49, 63, 65, 78, 79, 86, 90, 92, 98, 112, 115, 122, 154, 169, 171, 175, 176, 178, 182, 199, 200, 212, 216, 217, 225, 229, 233, 234, 253, 257, 258, 272, 278, 290, 297, 300, 324, 329, 365, 369, 383, 384, 407, 412, 413, 425, 426, 436, 438, 441, 466, 474, 478, 482, 492, 493, 495, 506, 549, 556, 566, 571, 577, 587, 596, 616, 621, 624, 636, 648, 651, 652, 666, 670, 677, 681, 694, 697, 711, 724, 730, 732, 746, 747, 757, 761, 784, 786, 797, 799, 802, ...], 'Drama': [5, 9, 13, 16, 17, 22, 24, 27, 32, 33, 41, 47, 50, 51, 53, 56, 58, 67, 72, 73, 74, 77, 83, 84, 87, 89, 91, 95, 102, 104, 108, 116, 121, 127, 130, 132, 134, 136, 139, 141, 146, 150, 157, 158, 159, 162, 166, 168, 172, 174, 180, 181, 184, 185, 188, 191, 195, 202, 203, 205, 207, 211, 213, 215, 218, 219, 221, 223, 226, 227, 228, 230, 232, 237, 238, 242, 243, 247, 250, 251, 259, 262, 267, 269, 270, 279, 283, 284, 288, 289, 291, 295, 307, 311, 316, 318, 320, 323, 325, 326, ...], 'Family': [468, 497], 'Fantasy': [638], 'Film-Noir': [105, 210, 687], 'History': [338], 'Horror': [39, 57, 62, 161, 186, 317, 322, 330, 351, 353, 405, 513, 572, 655, 688, 703, 708, 736, 769, 779, 796, 847, 860, 864, 869, 881, 905, 913, 977], 'Mystery': [38, 46, 76, 110, 149, 244, 249, 264, 292, 467, 583, 742, 863, 866, 894, 965], 'Sci-Fi': [145, 321, 408, 484, 637], 'Thriller': [350, 496, 728, 848, 902], 'Western': [6, 26, 59, 107, 119, 236, 263, 421, 704]}

In [132]:
x = list(df.groupby('genre').groups['Action'])
x

[3,
 11,
 12,
 19,
 20,
 36,
 37,
 43,
 44,
 45,
 75,
 80,
 82,
 96,
 100,
 113,
 118,
 123,
 129,
 135,
 138,
 152,
 163,
 173,
 177,
 194,
 196,
 198,
 235,
 239,
 240,
 248,
 261,
 268,
 276,
 281,
 296,
 301,
 312,
 327,
 349,
 354,
 366,
 380,
 385,
 388,
 391,
 401,
 403,
 409,
 411,
 420,
 433,
 434,
 437,
 440,
 452,
 455,
 469,
 470,
 488,
 491,
 502,
 509,
 515,
 517,
 529,
 531,
 532,
 533,
 534,
 539,
 552,
 563,
 567,
 568,
 570,
 573,
 581,
 586,
 591,
 598,
 610,
 613,
 619,
 623,
 633,
 649,
 653,
 661,
 671,
 675,
 683,
 684,
 685,
 686,
 691,
 699,
 701,
 707,
 717,
 722,
 726,
 729,
 733,
 740,
 744,
 745,
 748,
 749,
 753,
 764,
 765,
 767,
 778,
 780,
 787,
 801,
 803,
 809,
 812,
 815,
 832,
 856,
 858,
 871,
 884,
 885,
 896,
 906,
 908,
 918,
 954,
 963,
 967,
 976]

In [133]:
df.groupby(['genre'],sort=False).groups

{'Crime': [0, 1, 2, 4, 21, 23, 28, 34, 40, 49, 63, 65, 78, 79, 86, 90, 92, 98, 112, 115, 122, 154, 169, 171, 175, 176, 178, 182, 199, 200, 212, 216, 217, 225, 229, 233, 234, 253, 257, 258, 272, 278, 290, 297, 300, 324, 329, 365, 369, 383, 384, 407, 412, 413, 425, 426, 436, 438, 441, 466, 474, 478, 482, 492, 493, 495, 506, 549, 556, 566, 571, 577, 587, 596, 616, 621, 624, 636, 648, 651, 652, 666, 670, 677, 681, 694, 697, 711, 724, 730, 732, 746, 747, 757, 761, 784, 786, 797, 799, 802, ...], 'Action': [3, 11, 12, 19, 20, 36, 37, 43, 44, 45, 75, 80, 82, 96, 100, 113, 118, 123, 129, 135, 138, 152, 163, 173, 177, 194, 196, 198, 235, 239, 240, 248, 261, 268, 276, 281, 296, 301, 312, 327, 349, 354, 366, 380, 385, 388, 391, 401, 403, 409, 411, 420, 433, 434, 437, 440, 452, 455, 469, 470, 488, 491, 502, 509, 515, 517, 529, 531, 532, 533, 534, 539, 552, 563, 567, 568, 570, 573, 581, 586, 591, 598, 610, 613, 619, 623, 633, 649, 653, 661, 671, 675, 683, 684, 685, 686, 691, 699, 701, 707, ...], 'Drama': [5, 9, 13, 16, 17, 22, 24, 27, 32, 33, 41, 47, 50, 51, 53, 56, 58, 67, 72, 73, 74, 77, 83, 84, 87, 89, 91, 95, 102, 104, 108, 116, 121, 127, 130, 132, 134, 136, 139, 141, 146, 150, 157, 158, 159, 162, 166, 168, 172, 174, 180, 181, 184, 185, 188, 191, 195, 202, 203, 205, 207, 211, 213, 215, 218, 219, 221, 223, 226, 227, 228, 230, 232, 237, 238, 242, 243, 247, 250, 251, 259, 262, 267, 269, 270, 279, 283, 284, 288, 289, 291, 295, 307, 311, 316, 318, 320, 323, 325, 326, ...], 'Western': [6, 26, 59, 107, 119, 236, 263, 421, 704], 'Adventure': [7, 10, 14, 15, 54, 68, 71, 85, 101, 114, 120, 128, 133, 137, 140, 142, 164, 179, 204, 206, 214, 222, 224, 245, 271, 299, 309, 310, 328, 333, 336, 339, 359, 362, 368, 376, 393, 419, 424, 429, 445, 454, 479, 510, 520, 522, 537, 551, 555, 564, 576, 605, 629, 642, 658, 662, 698, 727, 754, 758, 794, 814, 852, 891, 898, 900, 909, 911, 932, 935, 936, 937, 943, 953, 975], 'Biography': [8, 18, 31, 42, 99, 124, 125, 143, 148, 156, 170, 187, 197, 201, 209, 220, 260, 273, 274, 286, 302, 313, 340, 341, 346, 348, 400, 410, 418, 423, 442, 446, 447, 450, 460, 500, 514, 536, 547, 550, 554, 560, 561, 569, 574, 579, 585, 601, 626, 627, 630, 660, 682, 690, 700, 725, 756, 763, 776, 782, 788, 804, 807, 811, 817, 818, 824, 825, 829, 840, 876, 888, 892, 903, 930, 961, 964], 'Comedy': [25, 29, 35, 48, 52, 60, 66, 70, 88, 93, 94, 97, 103, 106, 109, 111, 144, 151, 153, 155, 165, 183, 189, 190, 208, 231, 246, 252, 254, 255, 265, 266, 275, 280, 282, 285, 287, 293, 298, 304, 306, 314, 315, 319, 352, 356, 358, 367, 370, 382, 394, 399, 435, 451, 458, 459, 462, 464, 465, 472, 475, 480, 483, 486, 516, 519, 524, 527, 535, 542, 545, 546, 553, 557, 565, 578, 580, 582, 584, 588, 590, 593, 595, 597, 599, 602, 608, 611, 612, 614, 615, 622, 631, 639, 640, 641, 646, 650, 663, 667, ...], 'Animation': [30, 55, 61, 64, 69, 81, 117, 126, 131, 147, 160, 167, 192, 193, 241, 256, 277, 294, 303, 305, 308, 332, 343, 357, 378, 381, 386, 395, 414, 417, 443, 453, 461, 471, 487, 489, 494, 498, 501, 512, 518, 541, 607, 617, 625, 656, 657, 664, 669, 674, 713, 743, 759, 766, 789, 820, 835, 844, 853, 882, 938, 966], 'Mystery': [38, 46, 76, 110, 149, 244, 249, 264, 292, 467, 583, 742, 863, 866, 894, 965], 'Horror': [39, 57, 62, 161, 186, 317, 322, 330, 351, 353, 405, 513, 572, 655, 688, 703, 708, 736, 769, 779, 796, 847, 860, 864, 869, 881, 905, 913, 977], 'Film-Noir': [105, 210, 687], 'Sci-Fi': [145, 321, 408, 484, 637], 'History': [338], 'Thriller': [350, 496, 728, 848, 902], 'Family': [468, 497], 'Fantasy': [638]}

# ngroups()

In [134]:
df.groupby('genre').ngroups

16

In [135]:
df.genre.nunique()

16

# Size

In [136]:
df.groupby('genre').size()

genre
Action       136
Adventure     75
Animation     62
Biography     77
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
dtype: int64

In [137]:
df.groupby('genre').agg({'duration':'count'})

           duration
genre
Action          136
Adventure        75
Animation        62
Biography        77
Comedy          156
Crime           124
Drama           278
Family            2
Fantasy           1
Film-Noir         3
History           1
Horror           29
Mystery          16
Sci-Fi            5
Thriller          5
Western           9

In [138]:
df.groupby('genre')['title'].count()

genre
Action       136
Adventure     75
Animation     62
Biography     77
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
Name: title, dtype: int64

In [139]:
df.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64