Define: 
    String is collection of characters that will be in single, double or triple inverted commas.
    It is a data type in python.
    String can contain any english character or numbers ir special characters
    The string data type is denoted by str

In [1]:
hi there

SyntaxError: invalid syntax (1048808772.py, line 1)

In [2]:
'hi there'

'hi there'

In [3]:
my_var = 'hi there 007'
my_var

'hi there 007'

In [5]:
new_var = '107'
new_var

'107'

# Type Function

is used to check the data type of the variable

In [6]:
type(new_var)

str

In [7]:
a = 10

In [8]:
type(a)

int

In [9]:
b = 10.5
type(b)

float

In [10]:
c = 3+4j
type(c)

complex

In [11]:
type(5678456)

int

In [12]:
type('5678456')

str

### when to use which quotes

In [ ]:
single & double inverted commas should be used only for single line string.
for multiple lines string triple single or triple double inverted commas should be used.

In [13]:
' hey this is python class. '

' hey this is python class. '

In [14]:
"hi this is python class"

'hi this is python class'

In [15]:
'hi what's your name?'

SyntaxError: invalid syntax (424448422.py, line 1)

In [16]:
"hi what's your name?"

"hi what's your name?"

In [18]:
"let me tell you a "secreat"!"

SyntaxError: invalid syntax (2045367908.py, line 1)

In [17]:
'let me tell you a "secreat"!'

'let me tell you a "secreat"!'

In [19]:
"Welcome to velocity
you are in the python class"

SyntaxError: EOL while scanning string literal (298752479.py, line 1)

In [21]:
"""Triple H is the new host of WWE
& He also happens to be a formar player of the same game."""

'Triple H is the new host of WWE\n& He also happens to be a formar player of the same game.'

In [22]:
'''Triple H is the new host of WWE
& He also happens to be a formar player of the same game.'''

'Triple H is the new host of WWE\n& He also happens to be a formar player of the same game.'

In [24]:
'''Triple inverted comma's are here.'''

"Triple inverted comma's are here."

# Print & Display Function

In [26]:
'Sagar Kale'
'Pravin Kulkarni'

'Pravin Kulkarni'

In [27]:
print('Sagar Kale')
print('Pravin Kulkarni')

Sagar Kale
Pravin Kulkarni

In [28]:
print('Sagar Kale')
'Pravin Kulkarni'

Sagar Kale

'Pravin Kulkarni'

In [29]:
display('Sagar Kale')
display('Pravin Kulkarni')

'Sagar Kale'

'Pravin Kulkarni'

In [30]:
from IPython.display import display

In [37]:
print(100)

100

#### difference b/w these 2:

In [31]:
import pandas as pd

df = pd.DataFrame({'A':[1,2,3,4],'B':[6,7,8,9]})
df

   A  B
0  1  6
1  2  7
2  3  8
3  4  9

In [32]:
print(df)

   A  B
0  1  6
1  2  7
2  3  8
3  4  9

In [33]:
display(df)

   A  B
0  1  6
1  2  7
2  3  8
3  4  9

# Parameters in print function

## \n

is used for new line or next line

In [36]:
print('Welcome to the python course \nIn the velocity Institute.')

Welcome to the python course
In the velocity Institute.

In [38]:
print('Welcome to the python course \nIn the velocity Institute \nData Science is really intersting!')

Welcome to the python course
In the velocity Institute
Data Science is really intersting!

## \t

is used for tab

In [40]:
print('Welcome to the python course\tIn the velocity Institute.')

Welcome to the python course	In the velocity Institute.

In [43]:
print('Respected sir,\n\tPlease accept my leave.')

Respected sir,
	Please accept my leave.

In [45]:
print('Respected sir,\n\tPlease accept my leave.\n\tOn an urgent basis.')

Respected sir,
	Please accept my leave.
	On an urgent basis.

## Escape character (\\)

In [49]:
print('Welcome to class on \the 2nd day')

Welcome to class on 	he 2nd day

In [50]:
print('Welcome to class on \\the 2nd day')

Welcome to class on \the 2nd day

In [53]:
print('Welcome to \new class on the 2nd day')

Welcome to
ew class on the 2nd day

In [54]:
print('Welcome to \\new class on the 2nd day')

Welcome to \new class on the 2nd day

In [55]:
print('Welcome to new \class on the 2nd day')

Welcome to new \class on the 2nd day

In [56]:
print('Welcome here\'s the place you wanna be!')

Welcome here's the place you wanna be!

# Raw string

In [57]:
print(r'Welcome to \new class on the 2nd day')

Welcome to \new class on the 2nd day

In [58]:
r'Welcome here's the place you wanna be!'

SyntaxError: invalid syntax (4203840290.py, line 1)

In [59]:
path = "C:\Users\nirmal\14 July Batch A"
path

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1548982622.py, line 1)

In [60]:
path = "C:\\Users\\nirmal\\14 July Batch A"
path

'C:\\Users\\nirmal\\14 July Batch A'

In [61]:
path = r"C:\Users\nirmal\14 July Batch A"
path

'C:\\Users\\nirmal\\14 July Batch A'

In [62]:
path = r"C:\Users\nirmal\14 July Batch A"
print(path)

C:\Users\nirmal\14 July Batch A

# End parameter

In [63]:
print('Welcome to the python course\nIn the velocity Institute.')

Welcome to the python course
In the velocity Institute.

In [64]:
print('Welcome to the python course')
print('In the velocity Institute.')

Welcome to the python course
In the velocity Institute.

In [66]:
print('Welcome to the python course',end='\n\n')
print('In the velocity Institute.')

Welcome to the python course

In the velocity Institute.

In [67]:
print('Welcome to the python course',end=' ')
print('In the velocity Institute.')

Welcome to the python course In the velocity Institute.

In [68]:
print('Welcome to the python course',end='\n')
print('In the velocity Institute.')

Welcome to the python course
In the velocity Institute.

In [69]:
print('Welcome to the python course',end='+++')
print('In the velocity Institute.')

Welcome to the python course+++In the velocity Institute.

In [71]:
print('Welcome to the python course',end=' & you are ')
print('In the velocity Institute.')

Welcome to the python course & you are In the velocity Institute.

In [72]:
print('Welcome to the python course',end=' & you are ')
print('In the velocity Institute.',end=' 100% ')
print("You'll get job here")

Welcome to the python course & you are In the velocity Institute. 100% You'll get job here

In [74]:
H = '*****'
print('In the velocity Institute.',end = H)
print("You'll get job here")

In the velocity Institute.*****You'll get job here

# Sep parameter

In [76]:
print('Welcome to velocity','Python is the course you opted for!')

Welcome to velocity Python is the course you opted for!

In [77]:
print('Welcome to velocity','Python is the course you opted for!',sep='______')

Welcome to velocity______Python is the course you opted for!

In [78]:
print('Welcome to velocity','Python is the course you opted for!',sep='     ')

Welcome to velocity     Python is the course you opted for!

In [80]:
print('Welcome to velocity','Python is the course you opted for!',sep='. ')

Welcome to velocity. Python is the course you opted for!

In [83]:
print('Welcome to velocity','Python is the course you opted for','Wish you happy learning ;)',sep='. ')

Welcome to velocity. Python is the course you opted for. Wish you happy learning ;)

In [84]:
print('Welcome to velocity','\nPython is the course you opted for!')

Welcome to velocity
Python is the course you opted for!

In [86]:
print('Welcome to velocity','Python is the course you opted for!',sep='\n')

Welcome to velocity
Python is the course you opted for!

In [88]:
print('Welcome to velocity','Python is the course you opted for!',sep='\n',end=' ')
print('Along with Machine Learning.')

Welcome to velocity
Python is the course you opted for! Along with Machine Learning.

In [89]:
x = 'Python is the course you opted for!'
print('Welcome to velocity',x,sep='. ')

Welcome to velocity. Python is the course you opted for!

Difference between end & sep:
    end is used when we have 2 or more print statements following each other.
    sep is used when we have 2 or more strings or variables in single print statement.