In [1]:
new_list = [1,2,3,4]
new_list

[1, 2, 3, 4]

In [3]:
type(new_list)

list

# List

list is a collection of items or entities that are enclosed within square braces & separated by commas.
list is used to store multiple values. It can store different data types that can include int, float, complex, list, tuple, differentct, set, series, dataframes & even models etc..

whenever a list is called it returns the data in the ordered format
Mutable(changebale, editable) : the values inside the list can be changed or modified!
Mutable data types are the onces which can be modified by accessing indexing. When the id location changes they are immutable else mutable.
List allows duplicate items.

In [5]:
list1 = [1,1.2,3+4j,'Python',[3,4,5],(4,'hi'),{3,4},{'A':1,'B':2},True,False,'%']
list1

[1,
 1.2,
 (3+4j),
 'Python',
 [3, 4, 5],
 (4, 'hi'),
 {3, 4},
 {'A': 1, 'B': 2},
 True,
 False,
 '%']

In [6]:
list1[0]

1

In [8]:
list1[-1]

'%'

In [9]:
# Define an empty list

e_list = list()
e_list

[]

In [10]:
e_list = []
e_list

[]

# indexing

works same as that of string

indexing starts from 0 for positive indices
indexing starts from -1 for negative indices

In [11]:
list1 = [1,3,4,7,'Hello']
list1

[1, 3, 4, 7, 'Hello']

In [12]:
list1[-2]

7

In [13]:
list1[-2]-list1[1]    # 7-3

4

In [14]:
len(list1)

5

In [16]:
list2 = [1,4,7,['hi','hello','namaste'],9,2]

insider_info = list2[3]
insider_info

['hi', 'hello', 'namaste']

In [17]:
insider_info[2]

'namaste'

In [18]:
list2[3][2]

'namaste'

In [21]:
list2[-3][-1]

'namaste'

# slicing

In [22]:
list1 = [1,3,4,7,'Hello']
list1[1:5]

[3, 4, 7, 'Hello']

In [23]:
list1 = [1,3,4,7,'Hello']
list1[1:5:2]

[3, 7]

In [30]:
list1 = [1,3,4,7,'Hello']
list1[-1:1:-2]

['Hello', 4]

# reversing a string

In [31]:
list1

[1, 3, 4, 7, 'Hello']

In [25]:
list1[::-1]

['Hello', 7, 4, 3, 1]

### reverse function

reverse function to be used after the list
it modified the original list >> the list on which reverse function was used that is reversed & saved into original variable

In [ ]:
list1 = list1[::-1]

In [28]:
list1.reverse()
list1

['Hello', 7, 4, 3, 1]

### reversed function

In [ ]:
It creates a generator object that has the list reversed of the original list

In [35]:
reversed(list1)

In [34]:
list(reversed(list1))

['Hello', 7, 4, 3, 1]

In [36]:
for i in reversed(list1):
    print(i)

Hello
7
4
3
1

# id function

In [38]:
id(list1)

2164662649984

In [41]:
print(list1)

if 'Hello' in list1:
    print('hello is present!')

[1, 3, 4, 7, 'Hello']
hello is present!

In [43]:
if list1[1] < list1[2] > list1[0]:
    print('larger index value is greater!')

larger index value is greater!

# checking all the items in list

In [44]:
cities = ['Noida','Gurgaon','Mumbai','Pune','Nashik','Nagpur','Solapur']

for city in cities:
    print(city)

Noida
Gurgaon
Mumbai
Pune
Nashik
Nagpur
Solapur

In [55]:
cities = ['Noida','Gurgaon','Mumbai','Pune','Nashik','Nagpur','Solapur']

for i in cities:
    print(i)

Noida
Gurgaon
Mumbai
Pune
Nashik
Nagpur
Solapur

In [45]:
cities = ['Noida','Gurgaon','Mumbai','Pune','Nashik','Nagpur','Solapur']
index = 0

for city in cities:
    print('index is ',index,'& city is ',city)
    index += 1

index is  0 & city is  Noida
index is  1 & city is  Gurgaon
index is  2 & city is  Mumbai
index is  3 & city is  Pune
index is  4 & city is  Nashik
index is  5 & city is  Nagpur
index is  6 & city is  Solapur

In [51]:
for city in enumerate(cities):
    print(city)

(0, 'Noida')
(1, 'Gurgaon')
(2, 'Mumbai')
(3, 'Pune')
(4, 'Nashik')
(5, 'Nagpur')
(6, 'Solapur')
(7, 'Malegaon')
(8, 'Mayapur')

In [53]:
for city in enumerate(cities):
    print(city[0],city[1])

index is 0 Noida
index is 1 Gurgaon
index is 2 Mumbai
index is 3 Pune
index is 4 Nashik
index is 5 Nagpur
index is 6 Solapur
index is 7 Malegaon
index is 8 Mayapur

In [54]:
for index, city in enumerate(cities):
    print(index,city)

0 Noida
1 Gurgaon
2 Mumbai
3 Pune
4 Nashik
5 Nagpur
6 Solapur
7 Malegaon
8 Mayapur

In [47]:
cities = ['Noida','Gurgaon','Mumbai','Pune','Nashik','Nagpur','Solapur','Malegaon','Mayapur']
M_starting_cities = []

for city in cities:
    if city.startswith('M'):
        M_starting_cities.append(city)
#         M_starting_cities = M_starting_cities + [city]
    
print(cities)
M_starting_cities

['Noida', 'Gurgaon', 'Mumbai', 'Pune', 'Nashik', 'Nagpur', 'Solapur', 'Malegaon', 'Mayapur']

['Mumbai', 'Malegaon', 'Mayapur']

In [48]:
M_starting_cities+['Mahad']

['Mumbai', 'Malegaon', 'Mayapur', 'Mahad']

In [49]:
'hi' + ' hello'

'hi hello'