Regex(RE):
    Is one of the fundamental libraries of python that deals with Text data.
    It used sequence of characters that forms a search pattern for the text.
    Natural Language Processing, Text Mining, Text Cleaning, Data Processing, Web scrapping

regex >> re >> regular expressions

we need to envoke re library from Python

In [1]:
import re

# Findall()

returns a list of items that mateches the search pattern

Syntax:
    
phone_numbers = re.findall('[0-9]{10}',text)

Note: Numbers passed in curly braces, they talk about the length of the characters. The pattern in itself is passed in square braces in a string.

In [13]:
text = """MY mobile no. is 7865123498
my mail ID is pratikrathod@gmail.com
My alternate number is 9865347259
my alternate MAIL is pratikr3@gmail.com"""

print(text)

MY mobile no. is 7865123498
my mail ID is pratikrathod@gmail.com
My alternate number is 9865347259
my alternate MAIL is pratikr3@gmail.com

In [14]:
# 0-9 represents only numbers to search for
phone_nums = re.findall('[0-9]{3}',text)
phone_nums

['786', '512', '349', '986', '534', '725']

In [15]:
phone_nums = re.findall('[0-9]{10}',text)
phone_nums

['7865123498', '9865347259']

In [16]:
# A-Z represents only capital alphabets to search for
searches = re.findall('[A-Z]{2}',text)
searches

['MY', 'ID', 'MA', 'IL']

In [17]:
searches = re.findall('[A-Z]{4}',text)
searches

['MAIL']

In [25]:
# a-z represents only small alphabets to search for
# range is passed in curly braces now
searches = re.findall('[a-z]{1,10}',text)
[i for i in searches if len(i)!=4]

['mobile',
 'no',
 'is',
 'my',
 'is',
 'pratikrath',
 'od',
 'gmail',
 'com',
 'y',
 'alternate',
 'number',
 'is',
 'my',
 'alternate',
 'is',
 'pratikr',
 'gmail',
 'com']

In [24]:
re.findall('[a-zA-Z0-9@]{1,20}',text)

['MY',
 'mobile',
 'no',
 'is',
 '7865123498',
 'my',
 'mail',
 'ID',
 'is',
 'pratikrathod@gmail',
 'com',
 'My',
 'alternate',
 'number',
 'is',
 '9865347259',
 'my',
 'alternate',
 'MAIL',
 'is',
 'pratikr3@gmail',
 'com']

In [32]:
text = """MY mobile no. is 7865123498
my mail ID is pratik.rathod@gmail.com
My alternate number is 9865347259
my alternate MAIL is pratik_r3@mgail.com"""

mail_ids = re.findall('[A-Za-z0-9._]{1,25}[@][g][m][a][i][l][.][com]{3}',text)
mail_ids

['pratik.rathod@gmail.com']

In [31]:
mails = re.findall('[A-z0-9_.]{1,20}[@Ggmail.com]{10}',text)
mails

['pratik.rathod@gmail.com', 'pratik_r3@mgail.com']

In [38]:
Mails = """hr@capgemini.com,
hr_Vishal@123Capgemini.co.in
rohitsharma123@gmail.com
Rohit_Sharma45@BCCI.co.in
rohit.sharma@redifmail.com
RohitS@outlook.com
RohitSharma@onmicrosoft.BCCI.com
Roshit333@vctcpune.co.in
Rohit@yahoo.com
My mobile number is 9456164755
my mail id is pratikkanpurwar_3@gmail.com
MY alternate number is 9754623156
my alternate MAIL id is pkanpurwar123@gmail.com
"""


Mail_Id = re.findall('[A-z0-9._]{1,25}[@][A-z0-9.]{1,20}',Mails)
Mail_Id

['hr@capgemini.com',
 'hr_Vishal@123Capgemini.co.in',
 'rohitsharma123@gmail.com',
 'Rohit_Sharma45@BCCI.co.in',
 'rohit.sharma@redifmail.com',
 'RohitS@outlook.com',
 'RohitSharma@onmicrosoft.BCCI.com',
 'Roshit333@vctcpune.co.in.',
 'Rohit@yahoo.com',
 'pratikkanpurwar_3@gmail.com',
 'pkanpurwar123@gmail.com']

In [42]:
Mail_Id = re.findall('[A-z0-9._]{1,25}[@][A-z0-9]{1,15}[.][A-z0-9]{1,10}[.]{0,1}[A-z0-9]{0,5}',Mails)
Mail_Id

['hr@capgemini.com',
 'hr_Vishal@123Capgemini.co.in',
 'rohitsharma123@gmail.com',
 'Rohit_Sharma45@BCCI.co.in',
 'rohit.sharma@redifmail.com',
 'RohitS@outlook.com',
 'RohitSharma@onmicrosoft.BCCI.com',
 'Roshit333@vctcpune.co.in',
 'Rohit@yahoo.com',
 'pratikkanpurwar_3@gmail.com',
 'pkanpurwar123@gmail.com']

In [46]:
pan_data = """pan card numbers:
ASHBU7834G
MHJGG4857F
ahbdy9023F
12skk6457k
A_HJK9023H
AGHK89049J
AFLAF89070
KLHIP****G

Dates:
20-10-2022
32-09-21"""

PAN_DATA = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',pan_data)
PAN_DATA

dates = re.findall('[0-9]{2}[-][0-9]{2}[-][0-9]{2,4}',pan_data)
dates

['20-10-2022', '32-09-21']

# finditer()

it returns all the matches found in the string in object format
the span in object informs about the index position at which the item is found
if the match is not found then it returns an empty object
& if the match is found then the object could have multiple entries

In [83]:
Adhar = """9456 6453 7845
8645 7458 9853
5364 759 41523
8456-7458-9245
86421542 1452"""

adhar_nums = re.finditer('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}',Adhar)

In [82]:
list(adhar_nums)

[<re.Match object; span=(0, 14), match='9456 6453 7845'>,
 <re.Match object; span=(15, 29), match='8645 7458 9853'>]

In [84]:
for format1 in (adhar_nums):
    print(format1.span())

(0, 14)
(15, 29)

In [74]:
for format1 in (adhar_nums):
    print(format1.group())

9456 6453 7845
8645 7458 9853

# Special Characters

## \d

\d >> [0-9] >> is only for digits varying from 0-9

In [85]:
Adhar = """9456 6453 7845
8645 7458 9853
5364 759 41523
8456-7458-9245
86421542 1452"""

adhar_nums = re.finditer('\d{4}[ ]\d{4}[ ]\d{4}',Adhar)
for format1 in (adhar_nums):print(format1.group())

9456 6453 7845
8645 7458 9853

In [86]:
text = """MY mobile no. is 7865123498
my mail ID is pratik.rathod@gmail.com
My alternate number is 9865347259
my alternate MAIL is pratik_r3@mgail.com"""

numbers = re.findall('\d{10}',text)
numbers

['7865123498', '9865347259']

## \D

\D >> [^0-9] >> everything apart from numbers

In [87]:

except_nums = re.findall('\D{1,15}',text)
except_nums

['MY mobile no. i',
 's ',
 '\nmy mail ID is ',
 'pratik.rathod@g',
 'mail.com\nMy alt',
 'ernate number i',
 's ',
 '\nmy alternate M',
 'AIL is pratik_r',
 '@mgail.com']

In [99]:
Adhar = """9456&6453 ! 7845
8645 7458 @       9853
5364 $      759* 41523
8456-7458-9245
86421542% 1452 Hi (Hello
32874 32984
hey there """

adhar_nums = re.findall('\D{1,10}',Adhar)
adhar_nums

['&',
 ' ! ',
 '\n',
 ' ',
 ' @       ',
 '\n',
 ' $      ',
 '* ',
 '\n',
 '-',
 '-',
 '\n',
 '% ',
 ' Hi (Hello']

In [100]:
adhar_nums = re.findall('[^0-9A-z ]{1,10}',Adhar)
adhar_nums

['&', '!', '\n', '@', '\n', '$', '*', '\n', '-', '-', '\n', '%', '(']

In [104]:
import pandas as pd
df = pd.DataFrame(adhar_nums,columns={'sepcial_chars'})
df

   sepcial_chars
0              &
1              !
2             \n
3              @
4             \n
5              $
6              *
7             \n
8              -
9              -
10            \n
11             %
12             (

In [107]:
specials = list(df['sepcial_chars'].unique())
specials.remove('\n')
specials

['&', '!', '@', '$', '*', '-', '%', '(']

In [108]:
Adhar = """9456&6453 ! 7845
8645 7458 @       9853
5364 $      759* 41523
8456-7458-9245
86421542% 1452 Hi (Hello
32874 32984
hey there """

In [118]:
pro_data=[]
x = Adhar.split('\n')
y = x.copy()
for line in x:
    for special in specials:
        if special in line:
            y.remove(line)
            break
    
y

['32874 32984', 'hey there ']