Set:
    unordered data type (hashing)
    mutable
    duplicates are not allowed
    indexing is not supproted on set
    
Mutable >> List, Set, Dict
Immutable >> string, Tuple, int, float, boolean

Sets are enclosed in {} curly braces
items in sets are separated by commas
initialise set by set constructor
data types of empty set is dict

while dict is also in curly braces but the items in dict are key value pairs which are separated by column & the items in dict is separated by comma whereas items in set are comma separated alone

In [1]:
set1= {}
set1

{}

In [2]:
type(set1)

dict

In [3]:
set1= set({})
type(set1)

set

In [4]:
set1 = {1}
type(set1)

set

In [5]:
set1 = {1,}
type(set1)

set

In [6]:
set1 = {'Num':1}         #{key:value,key:value}
type(set1)

dict

list = []
string = ''
tuple = ()
set = {,}
dict = {key:value}

In [7]:
# set considers all unique/distinct value only
# order is changed
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

In [12]:
# program to remove duplicate items from list
list1 = [2,5,3,6,7,2,5,2,200,21,'hi',100]

set(list1)

{100, 2, 200, 21, 3, 5, 6, 7, 'hi'}

In [13]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}
for i in set1:
    print(i)

2
3
4
5
6
7
9.0
hello
hi

# Functions on set

## removing items from set

### remove()

It removes the selected item from the set
but if the item is not present then it throws an error

In [15]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.remove('hi')
set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello'}

In [16]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.remove(4)
set1

{2, 3, 5, 6, 7, 9.0, 'hello', 'hi'}

In [17]:
set1.remove(100)
set1

KeyError: 100

### Discard

It also removes the selected item from the set but if the item is not present then it does not throw an error

In [18]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.discard('hi')
set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello'}

In [19]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.discard(4)
set1

{2, 3, 5, 6, 7, 9.0, 'hello', 'hi'}

In [20]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.discard(400)
set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

### pop

it pops any random value from the set
when we print set,, we can realise that it has poped the 0th index value for the set

In [23]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

print(set1)

set1.pop()
set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

{3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

In [24]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

print(set1)

set1.pop(2)
set1

{2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

TypeError: pop() takes no arguments (1 given)

### clear()

In [25]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}
set1.clear()
set1

set()

### del

In [26]:
del set1
set1

NameError: name 'set1' is not defined

In [27]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

del set1[1]

TypeError: 'set' object doesn't support item deletion

In [28]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1[0]=100

TypeError: 'set' object does not support item assignment

# adding items in set

## add()

In [29]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}
set1.add('Namste')
set1

{2, 3, 4, 5, 6, 7, 9.0, 'Namste', 'hello', 'hi'}

In [30]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}
set1.add({'Namste','ram-ram'})
set1

TypeError: unhashable type: 'set'

## update

update is used to add the items in thee set
no need to use a separate variable to store the change while using update function
using update multiple items can be added to set
even is we have to add a single item, it should be passed in set

In [32]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.update({100})
set1

{100, 2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

In [33]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1.update({100,200,300})
set1

{100, 2, 200, 3, 300, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

In [36]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}
print(id(set1))

set2 = {100,200,300}
set3 = {-1,-2}

set1.update(set2,set3)

print(id(set1))
set1

1729921337600
1729921337600

{-1, -2, 100, 2, 200, 3, 300, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

## Union

union needs a separate variable to store the change
it doesnt add a single item but if we need to add a single item then it has to be passed in any iterator

In [40]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

add1 = {5,6}
add2 = {-1,-2}
add3 = [100,200]
add4 = {'good morning'}

set1 = set1.union(add4,add3,add2,add1)

set1

{-1, -2, 100, 2, 200, 3, 4, 5, 6, 7, 9.0, 'good morning', 'hello', 'hi'}

In [41]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1 = set1.union(100)
set1

TypeError: 'int' object is not iterable

In [42]:
set1 = {5,3,6,2,4,4,7,'hi','hello',9.0}

set1 = set1.union([100])
set1

{100, 2, 3, 4, 5, 6, 7, 9.0, 'hello', 'hi'}

## More functions

## intersection

gives the common items from both sets
needs a separate variable to store change

In [45]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}

common = cities1.intersection(cities2)
common

{'Goa', 'Pune'}

In [46]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','pokhara','Goa','Pune']

common = cities1.intersection(cities2)
common

{'Goa', 'Pune'}

In [47]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','pokhara','Goa']

common = cities2.intersection(cities1)
common

AttributeError: 'list' object has no attribute 'intersection'

In [48]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = ['Maldives','pokhara']

common = cities1.intersection(cities2)
common

set()

## intersection update

does not need any extra variable to strore the change
modifies the original set

In [51]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}

cities1.intersection_update(cities2)
cities1

{'Goa', 'Pune'}

In [52]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara'}

cities1.intersection_update(cities2)
cities1

set()

## Difference

It shows the uncommon items from the set on which difference function is called
Need an additional vairable to store change

In [55]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

diff_cities = cities1.difference(cities2,cities3)
diff_cities

{'Mumbai'}

## Differene_update

In [ ]:
# Ir reflects the change in same variable.

In [56]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

cities1.difference_update(cities2,cities3)
cities1

{'Mumbai'}

## symmetric difference

All the items that arew uncommon from both the sets are shown
needs a separate varriable to store the change
symmetric_difference takes exactly one arguement

In [58]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

uncommon = cities1.symmetric_difference(cities2)
uncommon

{'Maldives', 'Mumbai', 'pokhara'}

In [59]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

uncommon = cities1.symmetric_difference(cities2,cities3)
uncommon

TypeError: symmetric_difference() takes exactly one argument (2 given)

## Symmetric_difference_update

All the items that arew uncommon from both the sets are shown
does not needs a separate varriable to store the change
symmetric_difference_update takes exactly one arguement

In [62]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

cities1.symmetric_difference_update(cities3)
cities1

{'Banaras', 'Delhi', 'Mumbai', 'Pune'}

In [63]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Goa','Delhi','Banaras'}

cities1.symmetric_difference_update(cities3,cities2)
cities1

TypeError: symmetric_difference_update() takes exactly one argument (2 given)

## isdisjoint()

It return boolean values : True or False
when there no common items b/w boths sets then it return True else returns false
isdisjoint() takes exactly one arguement

In [65]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras'}

cities1.isdisjoint(cities2)

False

In [66]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras'}

cities3.isdisjoint(cities1)

True

In [67]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras'}

cities3.isdisjoint(cities1,cities2)

TypeError: isdisjoint() takes exactly one argument (2 given)

## issubset()

When all the items of a set on which issubset is called are present into another set which is passed in issubset function then it returns True else it will return False
The length of set on which issubset is used is always lesser or equal to the set which is passed in issubset funtion

In [69]:
cities1 = {'Pune','Mumbai','Goa'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras','Goa'}

cities3.issubset(cities1)

False

In [70]:
cities1 = {'Pune','Mumbai','Goa','Delhi','Banaras'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras','Goa'}

cities3.issubset(cities1)      # all items of cities3 are preent in cities1

True

## issuperset()

When all the items of a set which is passed in superset function are present into set on which superset function is called then it returns True else it will return False
The length of set on which superset is used is always greater or equal to the set which is passed in issuperset funtion

In [72]:
cities1 = {'Pune','Mumbai','Goa','Delhi','Banaras'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras','Goa'}

cities1.issuperset(cities3)      # all items of cities3 are preent in cities1

True

In [73]:
cities1 = {'Pune','Mumbai','Goa','Delhi','Banaras'}
cities2 = {'Maldives','pokhara','Goa','Pune'}
cities3 = {'Delhi','Banaras','Goa','Chennai'}

cities1.issuperset(cities3)      # all items of cities3 are preent in cities1

False

# Rest of the functions

len
sum
max
min
mean
median
mode
all
any

# Any

It returns True if evan a single items is not 0 or False

In [74]:
set1 = {0,7,False,9,-3,200,4}
any(set1)

True

In [75]:
set1 = {0,False,0}
any(set1)

False

In [76]:
list1 = ['hi','hello','good morning']
check = []

for item in list1:
    check.append(item.isdigit())
    
check

[False, False, False]

In [77]:
any(check)

False

#### list comprehension

1 liner for loop encompassed in square braces.
short hand for loop

In [ ]:
[item.isdigit() for item in list1]   # list comprehension:

In [79]:
any([item.isdigit() for item in list1])

False

# All

It returns True if none of the items are 0 or False

In [80]:
set1 = {0,7,False,9,-3,200,4}
all(set1)

False

In [81]:
set1 = {7,9,-3,200,4}
all(set1)

True

In [86]:
list1 = [4,16,121,169]
check = []

for item in list1:
    check.append(item%(item**(1/2))==0)
    
check

[True, True, True, True]

In [87]:
all([item%(item**(1/2))==0 for item in list1])

True

In [89]:
list1 = [4,16,121,169,170]
check = []

for item in list1:
    check.append(item%(item**(1/2))==0)
    
print(check)
all(check)

[True, True, True, True, False]

False