In [1]:
import numpy as np
import pandas as pd

Series is a one dimensional dataframe
It is exactly same as numpy array (1 dimensional)
There are many numpy array functions that can be used on series

In [2]:
series = pd.Series(dtype='int')
series

Series([], dtype: int32)

In [7]:
s1 = pd.Series([1,2,3,4],index=list('abcd'),name='Nums')
s1

a    1
b    2
c    3
d    4
Name: Nums, dtype: int64

In [4]:
type(s1)

pandas.core.series.Series

In [8]:
s1 = s1.reset_index().drop('index',axis=1)
s1

   Nums
0     1
1     2
2     3
3     4

In [10]:
s1.rename({'Nums':0},axis=1,inplace=True)
s1

   0
0  1
1  2
2  3
3  4

In [11]:
type(s1)

pandas.core.frame.DataFrame

In [12]:
s1[1]=pd.Series([10,20,30,40])
s1

   0   1
0  1  10
1  2  20
2  3  30
3  4  40

In [13]:
x = pd.Series([10,20,30,40])
x

0    10
1    20
2    30
3    40
dtype: int64